@CHARSET "UTF-8";

	#body_wrap { width:100%; margin-left:auto; margin-right:auto; padding:0px;}	
	#header_wrap { width:100%; height:90px; margin:0px;}
	#middle_wrap { display:inline-block; clear:both; width:100%; padding:0px; margin:0px;}
	#footer_wrap { width:100%;}
